* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Averta", sans-serif !important;
}

@font-face {
	font-family: "Averta";
	src: url("./fonts/averta-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Averta";
	src: url("./fonts/averta-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Averta";
	src: url("./fonts/averta-semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

.popup {
	background-color: #ffffff;
	z-index: 3;
	border-radius: 5px;
}
.popup::after {
	content: "";
	height: 10px;
	width: 10px;
	background-color: #ffffff;
	position: absolute;
	top: -5px;
	right: 20px;
	transform: rotate(45deg);
	z-index: -1;
}
.popup.active {
	display: block;
}
